{% extends 'base.html.twig' %}

{% block title %}osow page!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('port.css') }}"> <!-- Lien vers le fichier CSS externe -->
{% endblock %}

{% block body %}
<body>
    <nav class="cc-navbar navbar navbar-expand-lg navbar-dark position-fixed w-100">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase mx-4 py-3 fw-bolder">Oumar Sow</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav><br><br><br>
    <section class="cc-ma merriweather py-5">
        <div class="container">
            <div class="row">  
                <div class="circular">
                <div class="circular">
                <div class="user">
                    <img src="{{ asset('IMAGE/port.jpg') }}" alt="Photo de profil" class="mx-auto d-block">
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>





    <section class="cc-ma merriweather py-5">      
            <div class="text-center mb-4">
                <button class="btn-custom" onclick="window.location.href='#rt1-section'">
                    <h5 class="card-title">RT1 - Administrer les réseaux et l’Internet</h5>
                </button>
            </div>           
        <section id="rt1-section">            
            <div class="col d-sm-none d-md-block">
                <div class="card">
                    <div class="card-body"> 
                        <p>AC11.01 Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications<br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC11.02 Comprendre l’architecture et les fondements des systèmes numériques, les principes du codage de l’information, des communications et de l’Internet</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC11.03 Configurer les fonctions de base du réseau local</p>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC11.04 Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration et l’administration des réseaux et services fournis</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC11.05 Savoir identifier les dysfonctionnements du réseau local</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC11.06 Installer un poste client, expliquer la procédure mise en place </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>                       
                    </div>
                </div>
            </div>                           
        </section>     
    </section>

    <section class="cc-ma merriweather py-5">      
            <div class="text-center mb-4">
                <button class="btn-custom" onclick="window.location.href='#rt1-section'">
                    <h5 class="card-title">RT2 - Connecter les entreprises et les usagers</h5>
                </button>
            </div>           
        <section id="rt1-section">            
            <div class="col d-sm-none d-md-block">
                <div class="card">
                    <div class="card-body"> 
                        <p>AC12.01 Mesurer et analyser les signaux </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC12.02 Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement  </br>                   
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC12.03 Déployer des supports de transmission</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p> 
                        <p>AC12.04 Connecter les systèmes de ToIP </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC12.05 Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur    </br> 
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                    </div>
                </div>
            </div>                           
        </section>     
    </section>


<section class="cc-ma merriweather py-5">      
            <div class="text-center mb-4">
                <button class="btn-custom" onclick="window.location.href='#rt1-section'">
                    <h5 class="card-title">RT3 - Créer des outils et des applications informatiques pour les R&T</h5>
                </button>
            </div>           
        <section id="rt1-section">            
            <div class="col d-sm-none d-md-block">
                <div class="card">
                    <div class="card-body"> 
                        <p>AC13.01 Utiliser un système informatique et ses outils</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC13.02 Lire, exécuter, corriger et modifier un programme </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC13.03 Traduire un algorithme, dans un langage et pour un environnement donné </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC13.04 Connaître l’architecture et les technologies d’un site Web </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC13.05 Choisir les mécanismes de gestion de données adaptés au développement de l’outil et argumenter ses choix </br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>
                        <p>AC13.06 S’intégrer dans un environnement propice au développement et au travail collaboratif</br>
                        <progress value="25" max="100" style="width: 50%; height: 30px;"></progress><br></p>                          
                    </div>
                </div>
            </div>                           
        </section>     
    </section>


    
        

           
            
                   
                    

           
    <footer>
        Copyright <span class="glyphicon glyphicon-nom-image"></span> 2025 Oumar.sow site privé
    </footer>
</body>
{% endblock %}